*{
    margin: 0;
}
body{
    overflow-x: hidden;
}

.box1{
    padding-top: 20px;
    padding-bottom: 100px;
    width: 100%;
    height: auto;
    justify-content: space-evenly;
    display: flex;
background-color: transparent;
align-items: center;
background-color: rgba(245, 222, 179, 0.089);

}
.box1 p{
  color: rgba(24, 3, 48, 1);
}
.text1{
    display: flex;
    gap: 50px;
}
.box1 button{
    width:80px ;
    height: 40px;
    background-color: transparent;
   border:1px solid rgba(85, 0, 136, 1) ;
   border-radius: 4px;
}
.b01{
display: flex;
gap: 20px;
align-items: center;
}
.box2{
    width: 100%;
    height: 298px;
    background-color:  rgba(245, 222, 179, 0.089);
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
   padding-bottom: 20px;
}
.box2 h1{
    font-size:96px ;
    color:rgba(24, 3, 48, 1) ;
    font-weight: lighter;
}
.box2 p{
    width: 389px;
    color: rgba(24, 3, 48, 1);
text-align: center;
}
.box2 span{
    color:rgba(85, 0, 136, 1) ;
}
.box2 input{
    width: 200px;
    height:37px ;
   padding-left: 10px;
border-top-left-radius: 4px;
border-bottom-left-radius: 4px;
border:1px solid  rgba(85, 0, 136, 1) ;
outline: none;

}

.box2 button{
    width: 160px;
    height: 42px;
    border: none;
    border-bottom-right-radius: 4px;
     border-top-right-radius: 4px;
     color: white;
     background: linear-gradient(rgba(85, 0, 136, 1),rgba(120, 0, 191, 1),rgba(137, 47, 252, 1));
}
.box02{
    display: flex;
    align-items: center;
}
.img1{
    display: flex;
    width: 100%;
    background-color: rgba(245, 222, 179, 0.089);
    margin: 0;
    padding: 0;
}
.box3{
    background-color: rgba(245, 222, 179, 0.089);
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
   align-items: center;
   padding-top: 20px;
   padding-bottom: 20px;
   
}
.b03{
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}
.box3 h6{
    font-size:36px ;
    font-weight: lighter;
    color:rgba(24, 3, 48, 1) ;
}
.box3 p{
    width: 400px;
    color:rgba(24, 3, 48, 1) ;
    text-align: center;
}
.box3 span{
    display: block;
    color: rgba(85, 0, 136, 1);
}
.box4{
   
    width: 100%;
   height: 500px;
    background: linear-gradient(rgba(245, 222, 179, 0.089),rgba(237, 229, 239, 0.606) );
    display: flex;
    justify-content: space-evenly;
   align-items: center;
  
   
}
.box4 h6{
    font-size:36px ;
    font-weight: lighter;
    color:rgba(24, 3, 48, 1) ;
}
.box4 p{
    width: 400px;
    color:rgba(24, 3, 48, 1) ;
    text-align: center;
}
.box4 span{
    display: block;
    color: rgba(85, 0, 136, 1);
}
.box5{
    padding-top: 50px;
    background-color: rgba(237, 229, 239, 0.606) ;
}
.box05{
    width: 670px;
    padding-left: 40px;
    display: flex;
    flex-direction: column;
    gap: 40px;


}
.box5 h5{
    margin-left: 40px;
    width: 670px;
    font-size: 56px;
    font-weight: lighter;
    color:rgba(24, 3, 48, 1) ;

}
ul{
    list-style: none;
    
}
ul li::before{
    padding: 10px;
    content: url(./Group.png);
}
span{
    margin-left: 50px;
    color: rgba(85, 0, 136, 1);
}
.box5 img{
    position: relative;
    bottom: 200px;
    left: 100px;
}
.box6{
    box-sizing: border-box;
    padding-left: 50px;
    padding-right: 50px;
    width: 100%;
    height: auto;
    background-color:rgba(237, 229, 239, 0.606)  ;
}
.box06{
width: 100%;
height: 724px;
border: none;
border-radius: 8px;
background: linear-gradient(rgba(219, 190, 255, 1),rgba(255, 255, 255, 0),rgba(246, 242, 245, 1));
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-evenly;

}
.box6 h6{
    font-size: 36px;
    color:rgba(24, 3, 48, 1) ;
    text-align: center;
    width: 555px;
}
table{

    justify-items: center;
  border-spacing: 10px;

}
th{
    width: 202px;
    
}
table img{
    width: 96px;
    height: 20px;
    margin-left: 30%;
}
th{
    font-weight: lighter;
    text-align: start;
}
td{
  
   text-align: center;
}
.box6 p{
    color: rgba(85, 0, 136, 1);

}
.box7{
    width: 100%;
    height: auto;
     background-color:rgba(237, 229, 239, 0.606)  ;
     box-sizing: border-box;
     padding: 30px;
     padding-top: 80px;
     display: flex;
     flex-direction: column;
padding-bottom: 50px;
gap: 70px;
}
.box7 h6{
   color: rgba(24, 3, 48, 1);
   font-size: 56px;
   font-weight: lighter;
   text-align: center;
}
.boxes{
    display: flex;
}
.pink{
    width: 30%;
    height: 680px;
    background-color:rgba(255, 221, 221, 1) ;
  
padding-left: 2%;
padding-right: 2%;
}
.frame{
    position: relative;
   right: 40px;
   bottom: 40px;
}
.yellow{
    width: 30%;
    height: 680px;
    background-color:rgba(255, 250, 221, 1);
  position: relative;
padding-left: 2%;
padding-right: 1%;
}
.cyan{
    width: 30%;
    height: 680px;
    background-color:rgba(191, 237, 229, 1);
  
padding-left: 2%;
padding-right: 1%;
}
.frame2{
    position: relative;
   right: 40px;
   bottom: 40px;
}
.coffee{
    position: absolute;
   bottom: 1px;
}
.box8{
    padding-top: 40px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
     background-color:rgba(237, 229, 239, 0.606)  ;
     padding-bottom: 40px;
}
.box9{
    padding-bottom: 30px;
    padding-top: 30px;
    background-color: rgba(237, 229, 239, 0.606) ;
    display: flex;
    justify-content: space-evenly;
}
.box9 p{
    font-size: 14px;
    color: rgba(24, 3, 48, 1);
}
.bb2{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.bb1{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.box10{
    width: 100%;
    height: auto;
    background-color:  rgba(237, 229, 239, 0.606) ;
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 30px;
    padding-top: 60px;
    font-size: 12px;
}
